<H1>BIENVENIDO AL CHAT GRUPAL</H1>
<div id='historial'>
	<div id='messages'></div>
</div>
<input type='text' id='message' />
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>